.unbutton {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: white;
}


.black {
    background-color: var(--black);
    color: white;
    padding: 16px 32px;
    border-radius: 26px;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 700px) {

    .black {
        background-color: var(--black);
        padding-block: 18px;
        width: 100%;
    }
}