.app {
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-columns: 98px 1fr;
    grid-template-rows: 70px 1fr;
    overflow: hidden;
    @media screen and (max-width: 1500px) {
        grid-template-columns: 85px 1fr;
    }

    @media screen and (max-width:980px) {
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr;
        background-color: #F7F7F8;
        overflow: scroll;
        height: 100%;
    }
}

.main__container {
    background: #F7F7F8;
    min-height: 100vh;
    padding-inline: 19px;
    position: relative;
    overflow-y: scroll;
    @media screen and (min-width: 1800px) {
        padding-right: 70px;
    }
}

.large__addBtn {
    position: fixed;
    cursor: pointer;
    bottom: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    background: #000000;
    padding: 28px 28px;
    border-radius: 100px;

    @media screen and (max-width: 560px) {
        padding: 24px 24px;
    }
}