
.form {
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 20px;
    min-height: max-content;
    margin-bottom: 60px;
    @media screen and (max-width: 800px) {
        grid-template-columns: auto;
        padding: 15px;
        gap: 0px;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 80%;
   
    div {
        padding: 6px 10px;
        color: rgb(148, 148, 148);
        background-color: #eeeff1;
        border-radius: 20px;
        font-size: 13px;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: #59c28a;
            color: white;
        }
    }

    .active {
        background-color: #59c28a;
        color: white;
    }  
}

.block {
    margin-bottom: 5vh;
    h3, p {
        margin-bottom: 2vh;
    }
}

.heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
      }
  }
  .error {
    font-size: 14px;
    color:#931222;
  }

  .details {
    width: 100%;
    min-height: 35vh;
    border: 1px solid #d8d8da;
    border-radius: 10px;
    
    &:focus {
        outline: none !important;
        border: 1px solid black !important;
    }

    @media screen and (max-width: 980px) {
        min-height: 25vh;
    }

    @media screen and (min-width: 1700px) {
        min-height: 23vh;
    }
  }

  