.section {
    margin-top: 80px;
    display: grid;
}

.list {
    list-style: none;
    margin-top: 70px;
}

.list li {
    margin-bottom: 50px;
}

.list li h3 {
    margin-bottom: 10px;
}

.red {
    color: var(--accent-red);
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.contact_adress {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.adress_title {
    margin-bottom: 45px;

}

/* .contact_adress_list ul li {
    margin-bottom: 30px;
} */

.cta_link {
    display: none;
}

.contact_adress_list ul li h3 {
    margin-bottom: 35px;
}

@media (max-width: 700px) {
    .section {
        grid-template-columns: 1fr;
        margin-block: 60px;

    }

    .contact_adress {
        display: grid;
        grid-template-columns: auto;

    }

    .contact_adress_list ul li {
        margin-bottom: 0;
    }

    .contact_adress_list ul li h3 {
        margin-bottom: 20px;
    }


    .heading {
        display: none;
    }

    .red {
        color: var(--black);
    }

    .cta {
        display: flex;
        justify-content: space-between;
    }

    .cta_link {
        display: inline;
        color: var(--accent-red);
    }
}