.layout {
    display: flex;
    width: 100%;
    gap:20px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 180px;
}

.small_img {
    height: min-content;
    width: 11%;
}

.big_img {
    width: 20vw;
}

.second_img {
    margin-bottom: 100px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 80px;
}

.green_section {
    background: #38875C;
}

.text {
    width: 84%;
}
.green_section .section {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-block: 120px;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    gap: 5vw;

}
.accordion_image {
    width: 100%;
    img {
        width: 90%;
    }
}


.grid div h3 {
    margin-bottom: 20px;
}
.text_content {
    width: 90%;
}
.title h3 {
    color:white;
    cursor: pointer;
    margin-bottom: 30px;
    transition: all 0.1s ;
}
.text_content {
    color:white;
    margin-bottom: 20px;
}
.content {
    max-height: 0;
    overflow: hidden;
}
.titleInactive {
    color:#154F2F;
    margin-bottom: 30px;
    cursor: pointer;
}

.show {
    height: auto;
    max-height: 1000px;
    transition: all 0.6s ease;
}
.link {
    color: black;
    transition: color 0.5s ease;
    margin-bottom: 40px;
    h3 {
        margin-bottom: 20px;
    }
    &:hover {
        color: rgb(100, 100, 100)
    }
}

@media (max-width: 860px) {
    .grid {
        grid-template-columns: auto;
        margin-bottom: 40px;
    }
    .green_section .section {
        grid-template-columns: auto;
        padding-block: 80px;
        .accordion_image img {
            width: 100%;
        }
    }
    .text {
        width: 100%;
    }
    .grid h3:first-child {
        margin-bottom: 20px;
    }

    .green_section {
        background-color: #38875C;
    }
    .second_img {
        display: none;
    }
    .big_img {
        width: 100%;
    }
    .layout {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        width: 100%;
        gap: 10px;
        margin-top: 50px;
        margin-bottom: 80px;
    }
    .small_img {
        height: 35%;
        width: 100%;
        aspect-ratio: 2/1;
        margin-top: 80%;
    }
    .mobile {
        margin-top: -30px;
    }

}