.section {
    display: grid;
    grid-template-columns: 33% 68%;
    margin-block: 60px;
    gap: 15%;
    width: 100%;
}
.forgot_password {
    h1, p {
        margin-bottom: 30px;
    }
    .btn {
        margin-top: 30px;
    }
}

.btn_google {
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 17px 0px;
    width: 100%;
    border: 1px solid #A7A7A7;
    border-radius: 30px;
    cursor: pointer;
    margin-block: 30px;
}

.btn {
    background: none;
    border: none;
    outline: none;
    padding: 17px 0px;
    width: 100%;
    background-color: black;
    font-size: 16px;
    color: white;
    border-radius: 26px;
    cursor: pointer;
}

.desc {
    font-size: 14px;
    line-height: 140.5%;
    color: #6A6A6A;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    span {
        color: black;
    }
}

.desc_link {
    font-size: 14px;
    line-height: 140.5%;
    text-align: center;
    color: #6A6A6A;
    width: 100%;
    margin-top: 30px;
    
    a {
        color: #6A6A6A;
        text-decoration: underline;
        transition: color 0.5s ease;
        &:hover {
            color: #8f8f8f;
        }
    }
}

.pass_input {
    position: relative;
    svg {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        &:hover {
            path {
                fill: rgb(126, 126, 126);
            }
        }
    }
}

@media (max-width: 960px) {
    .section {
        grid-template-columns: 1fr;
        margin-block: 40px;
        text-align: center;
        min-height: 60vh;
    }
    .btn_google {
        background: none;
        border: none;
        outline: none;
        font-size: 14px;
        padding: 14px 39px;
        border-radius: 30px;
        cursor: pointer;
        width: fit-content;
        margin-block: 20px;
        border: 1px solid #A7A7A7;
        border-radius: 30px;
        color: black;
    }
    .desc, .desc_link {
        font-size: 14px;
        width: 100%;
    }
    .btn{
        padding: 17px 0;
        width: 100%;
        background-color: black;
        font-size: 14px;
        color: white;
        border-radius: 26px;
        cursor: pointer;
    }
    .spline {
        display: none;
    }

}