@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Golos Text', sans-serif;
}

:root {
  --black: #000;
  --white: #FFFFFF;
  --grey: #A7A7A7;
  --gray-md: #E7E7E7;
  --text-footer: #828282;
  --grey-light: #F2F2F2;
  --accent-red: #38875C;
  --h2-size: 24px;
  --text-size: 16px;
  --text-size-sm: 14px;
}

body {
  color: var(--black);
  font-size: var(--text-size);
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (max-width: 700px) {
  body {
    font-size: var(--text-size-sm);
  }
}

 html {
   overscroll-behavior: contain;
   height: 100%;

   @media (prefers-reduced-motion: no-preference) {
     scroll-behavior: smooth;
   }
 }