.new {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #2A8751;
    padding: 6px 10px 6px 10px;
    background: #E4F4EB;
    border-radius: 12px;
}

.process {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #0B5262;
    padding: 6px 10px 6px 10px;
    background: #DAF6FC;
    border-radius: 12px;
}

.done {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #931222;
    padding: 6px 10px 6px 10px;
    background: #FFE8D7;
    border-radius: 12px;
}

.archive {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #242D35;
    padding: 6px 10px 6px 10px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 12px;
}